.odd{
    background-color : #C6DEFF ;
    color:#333333 !important; 
    text-align:center;
    pointer-events: none; 
}

.even{
    background-color : #F0F8FF;
	color : black !important;
    text-align:center;
    pointer-events: none; 
} 

.headerStyle{
    background-color: #6698FF !important;
    color: white !important;
    font-weight: bold !important;
    font-size: 16pt !important;
    text-align:center;
} 

.tableText {
    font-size: 14pt !important;
}

.sightingHeader{
    background-color: #6698FF !important;
    color: #F0F8FF !important;
}